/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing:border-box;
}

body {
	font-family: 'PT Sans', Arial, Sans-serif;
	line-height: 1.6;
	color: #000;
	background-color: #f9f9f9;
}

p {
	font-size: 1.25em;
	text-align: center;
	color: #585858;
	margin-top: 0;
}

h1 {
	text-transform: uppercase;
    display: block;
    text-align: center;
    margin: 2em 0;
}

h2 {
	font-size: 1.5em;
	display: block;
    text-align: center;
    font-family: 'Cormorant', Serif;
    margin-bottom: 0;
}

a {
	text-decoration: none;
	color: #000;
}

img {
	width: 75%;
    display: block;
    margin: 25px auto;

}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Top Navigation ---- */

.name {
    border-bottom: 1px solid #757575;
    font-size: 2em;
    margin: 24px 0;
}

.top-nav {
	font-size: 1.25em;
}
.name,
.top-nav {
	display: block;
	text-align: center;
	text-transform: uppercase;
}


.top-nav li {
	padding: 10px 0;
    background-color: #fff;
    border: 1px #dedbdb solid;
    margin: 5px 0;
}

.top-nav li:active {
	background-color: #dedede;
}

/* ---- Bottom Navigation ---- */

footer {
	background-color: #383636;
    height: 100px;
    margin-top: 50px;
}

.row-title {
    font-weight: bold;
}

.tablet-nav-items {
	display:none;
}


.bottom-name {
	float: left;
	color: #fff;
}

.bottom-name,
.bottom-ul {
	margin-top: 35px;
}

.row-title + a {
	color: inherit;
}

/* ---- Layout Containers ---- */

.container {
	width: 90%;
	margin: 0 auto;
	max-width: 1024px;
}

.bottom-ul {
	float: right;
}

.bottom-ul li a{
	color: #fff;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 767px) {

/* ----Top Navigation---- */

	.name {
		padding-bottom: 12px;
	}

	.top-nav {
		margin-bottom: 25px;
	}

	.top-nav li {
	    padding: 10px 0;
	    background-color: transparent;
	    border: none;
	    margin-left: 30px;
	    display: inline-block;
	}

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

/* ----Bottom Navigation---- */

	.back-to-top {
		display: none;
	}

	.bottom-ul li {
		display: inline;
	}

	.tablet-nav-items {
		display: inline;
		padding: 5px 20px;
	}

/* ----Written Content---- */

	.intro-content {
		min-height: 200px;
	}

	.picture-blurb {
		width: 45%;
	    display: inline-block;
	    margin: 0 16px;
	    vertical-align: top;
	}

	p {
		display: inline;
	}

	.intro {
	    font-size: 1.33em;
	    text-align: left;
	    width: 60%;
	}

	.contact-info {
		display: block;
	}

/* ----Images and Graphics---- */

	img {
		width: 100%;
	}

	.profile-pic {
		width: 41%;
    	float: right;
    	margin: 10px;
    		max-width: 256px;
	}

}

@media (min-width: 1023px) {

/* ----Top Navigation---- */

	.name {
		display: inline;
    	border-bottom: none;
    	float: left;
    	margin: 20px 0 20px 0;
    	font-size: 1.5em;
    	padding-bottom: 0;
	}

	.top-nav {
		display: inline;
    	float: right;
    	margin-bottom: 0;
    	font-size: 1em;
    	margin-top: 12px;
	}

	nav {
		box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.15);
    	margin-bottom: 50px;
	}

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

/* ----Written Content---- */

	.picture-blurb {
	    width: 31.93%;
	    margin: 0 5px;
	}

}