/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing:border-box;
}

body {
	font-family: 'PT Sans', Arial, Sans-serif;
	line-height: 1.6;
	color: #000;
	background-color: #f9f9f9;
}

p {
	font-size: 1.25em;
	text-align: center;
	color: #585858;
	margin-top: 0;
}

h1 {
	text-transform: uppercase;
    display: block;
    text-align: center;
    margin: 2em 0;
}

h2 {
	font-size: 1.5em;
	display: block;
    text-align: center;
    font-family: 'Cormorant', Serif;
    margin-bottom: 0;
}

a {
	text-decoration: none;
	color: #000;
}

img {
	width: 75%;
    display: block;
    margin: 25px auto;

}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Top Navigation ---- */

.name {
    border-bottom: 1px solid #757575;
    font-size: 2em;
    margin: 24px 0;
}

.top-nav {
	font-size: 1.25em;
}
.name,
.top-nav {
	display: block;
	text-align: center;
	text-transform: uppercase;
}


.top-nav li {
	padding: 10px 0;
    background-color: #fff;
    border: 1px #dedbdb solid;
    margin: 5px 0;
}

.top-nav li:active {
	background-color: #dedede;
}



/* ---- Bottom Navigation ---- */

footer {
	background-color: #383636;
    height: 100px;
    margin-top: 50px;
}

.row-title {
    font-weight: bold;
}

.tablet-nav-items {
	display:none;
}


.bottom-name {
	float: left;
	color: #fff;
}

.bottom-name,
.bottom-ul {
	margin-top: 35px;
}

.row-title + a {
	color: inherit;
}

/* ---- Layout Containers ---- */

.container {
	width: 90%;
	margin: 0 auto;
	max-width: 1024px;
}

.bottom-ul {
	float: right;
}

.bottom-ul li a{
	color: #fff;
}

/* ---- Written Content ---- */

.testimonial {
	font-size: 1em;
	font-family: 'Cormorant', Serif;
	text-align: left;
	position: relative;
}

.testimonial-box {
	border: 1px solid rgba(0, 0, 0, 0.02);
    box-shadow: 2px 2px 35px rgba(0, 0, 0, 0.08);
    width: 80%;
    margin: 0 auto;
    padding: 25px;
    position: relative;
}

.t-author {
	font-size: .75em;
	font-family: 'PT Sans', Arial, Sans-serif;
	text-align: right;
	display: block;
	-webkit-margin-after: 0;
}

.quote-bkgrnd {
	display: none;
}

/* ---- Images & Graphics ---- */

.profile-pic {
	background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.22);
    box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.25);
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 767px) {

/* ----Top Navigation---- */

	.name {
		padding-bottom: 12px;
	}

	.top-nav {
		margin-bottom: 25px;
	}

	.top-nav li {
	    padding: 10px 0;
	    background-color: transparent;
	    border: none;
	    margin-left: 30px;
	    display: inline-block;
	}

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

/* ----Bottom Navigation---- */

	.back-to-top {
		display: none;
	}

	.bottom-ul li {
		display: inline;
	}

	.tablet-nav-items {
		display: inline;
		padding: 5px 20px;
	}

/* ----Written Content---- */

	.intro-content {
		min-height: 200px;
	}

	.picture-blurb {
		width: 44.9%;
	    display: inline-block;
	    margin: 0 16px;
	    vertical-align: top;
	}

	p {
		display: inline;
	}


	.contact-info {
		display: block;
	}

	.testimonial {
		font-size: 1.5em;
	}

	.quote-bkgrnd {
		display: inherit;
	    color: #4a82ff;
	    top: -19px;
	    left: -19px;
	    position: absolute;
	    background-color: white;
	    width: 45px;
	    height: 45px;
	    border: 2px solid rgba(0, 0, 0, 0.05);
	    border-radius: 100%;
	}

	.material-icons {
		top: 10px;
    	left: 8px;
    	position: absolute;
	}

	.intro {
		position: absolute;
	    font-size: 1.33em;
	    text-align: left;
	    width: 80%;
	    color: #fff;
	    top: 58%;
	    left: 10%;
	}

/* ----Images and Graphics---- */

	img {
		width: 100%;
	}

	.profile-pic {
		position: relative;
	    width: 100%;
	    float: none;
	    margin: inherit;
	    max-width: inherit;
	}

	.hero-blurb {
		position: relative;
	}

}

@media (min-width: 1023px) {

/* ----Top Navigation---- */

	nav {
	background-color: #4a82ff;
	}

	.top-nav li a {
	color: #fff;
	}

	.name {
		display: inline;
    	border-bottom: none;
    	float: left;
    	margin: 20px 0 20px 0;
    	font-size: 1.5em;
    	padding-bottom: 0;
    	color: #fff;
	}

	.top-nav {
		display: inline;
    	float: right;
    	margin-bottom: 0;
    	font-size: 1em;
    	margin-top: 12px;
	}

	nav {
		box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.15);
	}

	.top-nav li a:hover,
	.bottom-ul li a:hover {
		transition: color 0.1s ease;
		color: #1effb8;
	}

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

/* ----Written Content---- */

	.picture-blurb {
	    width: 31.93%;
	    margin: 0 5px;
	}

	.testimonial-box {
		border: 1px solid rgba(0, 0, 0, 0.02);
	    box-shadow: 2px 2px 35px rgba(0, 0, 0, 0.08);
	    width: 50%;
	    margin: 0 auto;
	    padding: 50px;
	    position: relative;
	}

	.t-author {
		padding-top: 19px;
	}

	.intro {
		font-size: 2em;
		top: 61%;
    	left: 10%;
	}

	.intro-section {
		background: no-repeat  url("../images/profile-pic-desktop-@1x.jpg");
		background-size: cover;
	}

	.hero-blurb picture {
		visibility: hidden;
	}

}

@media (min-width: 1039px) {

	.intro-section {
		background: no-repeat  url("../images/profile-pic-wide-@1x.jpg");
		background-size: cover;
	}

	.intro {
		text-shadow: 1px 2px 0px #000;
	}

}