/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing:border-box;
}

body {
	font-family: 'PT Sans', Arial, Sans-serif;
	line-height: 1.6;
	color: #000;
	background-color: #f9f9f9;
}

p {
	font-size: 3.4em;
	margin-bottom:1.8em;
	text-align: center;
	color: #585858;
}

h1 {
	text-transform: uppercase;
    display: block;
    font-size: 5em;
    text-align: center;
}

h2 {
	font-size: 4em;
	display: block;
    text-align: center;
    font-family: 'Cormorant', Serif;
}

a {
	text-decoration: none;
	color: #000;
}

img {
	width: 70%;
	display: block;
    margin: 100px auto;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Top Navigation ---- */

.name {
    padding-bottom: 25px;
    border-bottom: 1px solid #757575;
}

.top-nav {
	font-size: 2.5em;
}
.name,
.top-nav {
	display: block;
	text-align: center;
	text-transform: uppercase;
}


.top-nav li {
	padding: 40px 0;
    background-color: #fff;
    border: 1px #dedbdb solid;
    margin: 17px 0;
}

.top-nav li:active {
	background-color: #dedede;
}

/* ---- Bottom Navigation ---- */

footer {
	background-color: #383636;
    height: 200px;
}

.row-title {
    font-weight: bold;
}

.bottom-name,
.back-to-top {
	font-size: 2.5em;
	color: #fff;
	margin-top: 65px;
}

.back-to-top {
	float: right;
}

.bottom-name {
	display: inline-block;
}

.row-title + a {
	color: inherit;
}

/* ---- Layout Containers ---- */

.container {
	width: 90%;
	margin: 0 auto;
}

/* ---- Page Elements ---- */


/* ================================= 
  Media Queries
==================================== */

.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}